.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
inst/doc
eegUtils.Rproj
doc
Meta
vignettes/linear_modelling/*.fdt
vignettes/linear_modelling/*.set
vignettes/linear_modelling/*.mat
vignettes/linear_modelling/*.txt
