# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: true
cache: packages
os:
  - linux
  - osx
after_success:
  - Rscript -e 'covr::codecov(type = "all")'
warnings_are_errors: true
